/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 40px;
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  .content {
    padding: 20px;
    margin: 0 auto;
    max-width: 900px;
  }
  
  .section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .section h2 {
    color: #343a40;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .section p {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 8px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  .center-img {
    text-align: center; 
    
  }
  
  .centered-img {
    max-width: 80%; 
    height: auto;  
    margin-top: 20px; 
    width: 300px;
  }
  
  footer {
    text-align: center;
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    margin-top: 40px;
  }
  
  footer p {
    font-size: 1rem;
  }
  